.theme{
text-align:center;
}

.topDiv{
    top:0;
    position: fixed;
background-color: lightgray;
width:100vw;
}

.middleDiv{
text-align:center;
margin-top:30vh;

 } 

.bottomDiv{
    background-color: lightgray;
    position:fixed;
    width:100vw;
    bottom:0;

    }
 /* search bar stuff */
.searchBar{
height:3vw;
width:48vw;
margin-top:1vw;
box-shadow:1px 1px #888888;
}
.left{
    float:left;
}
.right{
    float:right;
}






